*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
font-family: 'Trebuchet MS';
background-color: green;
color: white;
text-align: center;
font-weight: bold;
    
}
h1{
 color: goldenrod;
 font-size: 100px;
 margin-top: 100px;
}
#message-el{
 font-size: 55px;
 font-style: italic;
}
p{
    font-size: 45px;
}
.btn{
    color: #016f32;
    width: 170px;
    background: goldenrod;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    padding: 14px;
}